@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
.header{
  position: relative;
  min-height: 60vh;
  background: url("./bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}  
.container{
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
.nav{
  min-height: 8vh;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items{
  width: 40%;
  /* border: 2px solid red; */
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.headline{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn{
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-headline{
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

.todo-section{
  margin-top: 5rem;
  text-align: center;
}
.form-todo{
  /* border: 2px solid red; */
  margin-top: 1rem;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
}
.form-todo input{
  min-height: 100%;
}
.form-todo input[type="text"]{
  width: 70%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
}
.form-todo input[type="submit"]{
  width: 20%;
  background-color: #0f0f0f;
  color: white;
  font-weight: bold;
}
.todo-list{
  text-align: left;
  font-size: 1.2rem;
  list-style: none;
}
.todo-list li{
  padding: 0.7rem;
  margin-top: 1rem;
  text-transform: capitalize;
  background: #444;
  color: cyan;
}
.section-signup{
  margin: 5rem auto;
  text-align: center;
  background: lightgrey;
  border-radius: 10px;
  padding: 1rem;
}
.signup-form{
  max-width: 800px;
  width: 90%;
  text-align: left;
  margin: auto;
}
.signup-form label{
  display: block;
}
.signup-form input{
  display: block;
  width: 100%;
  padding: 0.5rem;
}
.form-group{
  margin-top: 1rem;
}
.signup-form textarea{
  width: 100%;
}
.signup-btn{
  background: #0f0f0f;
  color: white;
  padding: 1rem 2rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.bg-dark{
  background-color: black;
  color: white;
}